{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{ form_row(form.submit) }}

    {% if is_granted( 'IS_AUTHENTICATED_FULLY') %}
        <p>Email: {{ app.user.email }}</p>
    {% else %}
        <p>Welcome Anonymous</p>
    {% endif %}
{% endblock %}

